body {
  background-color: #87CEEB;
}

.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
#igottabeme{
  font-family: Arial, Helvetica, sans-serif;
}

.classy {
  margin-left: 10px;
}

div {
  margin-bottom: 50px;
}
span  {
  width: 100px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: 5px solid;
  border-color: blue;
  background-color: yellow;
}

span[class="a"] {
  word-wrap: normal;
}

span[class="b"] {
  position: absolute;
}

span[class="c"] {
  word-wrap: normal;
  height: auto;
}

 img[alt="alt icon"]{
   z-index: 10;
   position: absolute;
}
img[alt="cat icon"] {
  z-index: 10;
  position: fixed; 
  right: 0px;
  bottom: 0px;
}

img[alt="dog icon"] {
  left: 50px;
  top: 150px;
  position: absolute; 
}

img[alt="bird icon"] {
  right: 70px;
  top: 80px;
  position: relative; 
}
