body {
  background-color: #87CEEB;
}

.stripey tr:nth-child(even) {
  background-color: #f2f2f2;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
#igottabeme{
  font-family: Arial, Helvetica, sans-serif;
}

.classy {
  margin-left: 10px;
}

div {
  margin-bottom: 50px;
}
span  {
  width: 100px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid blue;
  background-color: yellow;
}

span[class="a"] {
  word-wrap: normal;
  position: absolute;
  height: auto;
  display: inline;
}

span[class="b"] {
  position: relative;
  display: block;
}

span[class="c"] {
  word-wrap: normal;
  display: inline-block;
  position: relative;
}

 img[alt="alt icon"]{
   z-index: 10;
   position: absolute;
}
img[alt="cat icon"] {
  z-index: 10;
  position: fixed; 
  right: 0px;
  bottom: 0px;
}

img[alt="dog icon"] {
  left: -50px;
  top: -150px;
  position: relative; 
}

img[alt="bird icon"] {
  right: -800px;
  top: -350px;
  position: relative; 
}

nav {
  z-index: 20;
  position: sticky; 
  background-color: green;
  opacity: 90%; 
  padding: 5px;
  font-size: 20px;
